<div id="<%= dom_id booking %>">
  <p>
    <strong>Client name:</strong>
    <%= booking.client_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= booking.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= booking.phone %>
  </p>

  <p>
    <strong>Appointment date:</strong>
    <%= booking.appointment_date %>
  </p>

  <p>
    <strong>Additional information:</strong>
    <%= booking.additional_information %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= booking.payment_type %>
  </p>

  <p>
    <strong>Consultant preference:</strong>
    <%= booking.consultant_preference %>
  </p>

</div>
