<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :client_name, style: "display: block" %>
    <%= form.text_field :client_name , placeholder: "Enter Client Name" %> 
  </div>
 <br>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, placeholder: "Enter Email" %>
  </div>
 <br>
  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, placeholder: "Enter Phone Number" %>
  </div>
  <br>
  <div>
    <%= form.label :appointment_date, style: "display: block" %>
    <%= form.datetime_field :appointment_date %>
  </div>
  <br>
  <div>
    <%= form.label :additional_information, style: "display: block" %>
    <%= form.text_field :additional_information, placeholder: "Enter Any Additional Information" %>
    <br>
  </div>

  <div>
    <%= form.label :payment_type, style: "display: block" %>
    <%= form.select:payment_type,  options_for_select([['Online', 'Online'], ['In-Person', 'In-Person']])%>
   
  </div>
  <br>
  <div>
    <%= form.label :consultant_preference, style: "display: block" %>
       <%= form.select:consultant_preference, options_for_select([['Select Consultant', 'Other Consultants'], 
       ['Sarah Corner', 'In-Sarah Corner'], ['Mathew Jenkins', 'Mathew Jenkins'], ['Ayobamidele Martins', 'Ayobamidele Martins'], ['Donna Specter', 'Donna Specter']])%>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
